.msgDetail {
  font-weight: bold
}

.logBox {
  padding: 10px;

  .detailItem {
    p {
      line-height: 28px;
      font-size: 14px;
      margin: 0;
      padding: 0;

      span {
        font-weight: bold;
        margin-right: 20px;
      }
    }

    .detailRed {
      color: #f50
    }
  }
}
.detailBox {
  padding: 10px;
  .theme {
    display: flex;
    margin-bottom: 20px;
    .label {
      margin-right: 30px;
      font-weight: 600;
    }
  }
  .check {
    border-top: 1px solid #eee;
    padding-top: 10px;
    .checkRadio { 
      display: flex;
     .label {
      margin-right: 30px;
      font-weight: 600;
     }
    }
    .remark {
      display: flex;
      margin-top: 20px;
      .label {
       margin-right: 30px;
       font-weight: 600;
      }
      .content {
        width: 90%;
      }
    }
  }
}