.contentBox {
  padding: 10px;
  .user{
    display: flex;
    flex-direction: row;
    .avter{
      margin-right: 30px;
      .img{
        width: 80px;
        height: 80px;
      }
    }
    .nameAndTime{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .left{
        display: flex;
        flex-direction: column;
        .name{
        font-weight: bold;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
      }  
     }
     .right{
       font-weight: bold;
       margin-left: 200px;
     }
     
    }
  }
   .content{
      margin: 20px 0;
      text-indent: 50px;
    }
    .mood{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .video{
      margin-top: 10px;
    }
    .audio{
      margin-top: 10px;
    }
    .threeType{
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content:content;
      align-items: center;
      .mark{
        flex: 1;
        text-align: center;
      }
      .comment{
        flex: 1;
        text-align: center;
      }
      .save{
        flex: 1;
        text-align: center;
      }
    }
    .commentAll{
       margin:20px;
       text-align: left;
     }
    .commentItem{
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      .commentTop{
        display: flex;
        flex-direction: row;
       .commentNameTime{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        .name{
          font-weight: bold;
          font-size:16px;
          margin-left: 10px;
          margin-top: 3px;
        }
        .time{
          font-size: 12px;
        }
      }
    } 
    .commentBottom{
      margin-top: 5px;
      .commentContent{
        text-indent: 10px;
        text-align: left;
      }
    }
  }
}